/* ===========================
   헤더 영역 (Header 전용 CSS)
=========================== */

.main-header {
  position: relative; /* 절대위치 자식 기준 설정 */
  width: 100%;
  background: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px 16px 32px;
  box-sizing: border-box;
  margin-bottom: 35px;
  margin-top: 15px;
}

.main-header__logo-wrap {
  display: flex;
  align-items: center;
}

.main-header__logo-img {
  width: 52px;
  height: 52px;
  margin-right: 12px;
}

/* SNAP COOK 텍스트를 화면 가로 중앙에 고정 */
.main-header__center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10; /* 겹침 방지 */
  
}

.main-header__logo-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
}

/* 로그인/마이페이지 영역 */
.main-header__auth {
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-header__login-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  margin-right: 12px;
  cursor: pointer;
}

.main-header__signup-btn {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  padding: 8px 20px;
  cursor: pointer;
}

.main-header__logout-btn {
  background: transparent;
  border: none;
  font-size: 16px;
  margin-right: 12px;
  cursor: pointer;
}
